<!DOCTYPE html>
html(lang="en")
    
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Plaza Olmos
        <!-- Titulo -->
        
        <!-- Fuente 'Lato' -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,100,100italic,900,300italic,400italic,700italic,900italic'   rel='stylesheet' type='text/css'>        
        
        <!-- CSS Animaciones -->
        <link rel="stylesheet" href="css/animate.css" media="screen" title="no title" charset="utf-8">
        
        <!-- CSS Iconos -->
        <link rel="stylesheet" href="css/icons.css" media="screen" title="no title" charset="utf-8">
        
        <!-- CSS Styles -->
        link(rel="stylesheet" ,href="css/styles.css")
                
    body
        
        div#wrapper <!-- wrapper -->
            main#main <!-- Main -->
        
        
        
        
                div#header_nav_wrapper
                    div#header_nav_wrapper_center
                        header#header 
                            img(src="img/logo.png", alt="" id="logomenu")
                            h2#plazacaramountmenu
                                span.plaza#plazamenu Plaza 
                                span.caramount#caramountmenu Caramount
                            <!-- Fin H2 -->
                        <!-- Fin Header -->
                        nav#nav
                            div#toggle
                                span.icon-menu
                            <!-- Fin Toggle -->
                            ul
                                li
                                    a(href="index.html", id="amenu1") Inicio
                                li
                                    a(href="nosotros.html", id="amenu2") Nosotros
                                li
                                    a(href="tiendas.html", id="amenu3") Tiendas
                                li
                                    a(href="construccion.html", id="amenu4") Promociones
                                li
                                    a(href="registro.html", id="amenu5") Registro
                        <!-- Fin Nav -->
                    <!-- Fin Header Nav Grapper Center -->
                <!-- Fin Header Nav wrapper -->
                
                div.construccion
                    div.con2
                        p ¡Ups!
                    div.con1
                        img(src="img/logo.png", alt="")
                    div.con2
                        p Página en construcción
                
                
                
                footer#footer2
                    div.foot_contain
                        div.fot1
                            a(class="fot11" href="index.html") Plaza Caramount
                            p.fot12 Copyright 2017 | All Rights Reserved
                        div.fot2
                            span.fot21 By
                            a(class="fot22" href="https://www.facebook.com/jorge.tato.39") Jorge Tato
                    
            <!-- Fin Main -->       
        <!-- Fin Wrapper -->        
        
script(src="js/jquery-3.2.1.min.js")
<!-- JS Jquery -->

script(src="js/scripts.js")
<!-- JS Scripts -->
    
