<!DOCTYPE html>
html(lang="en")
    
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Plaza Olmos
        <!-- Titulo -->
        
        <!-- Fuente 'Lato' -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,100,100italic,900,300italic,400italic,700italic,900italic'   rel='stylesheet' type='text/css'>        
        
        <!-- CSS Animaciones -->
        <link rel="stylesheet" href="css/animate.css" media="screen" title="no title" charset="utf-8">
        
        <!-- CSS Iconos -->
        <link rel="stylesheet" href="css/icons.css" media="screen" title="no title" charset="utf-8">
        
        <!-- CSS Styles -->
        link(rel="stylesheet" ,href="css/styles.css")
                
    body
        
        div#wrapper <!-- wrapper -->
            main#main <!-- Main -->
        
        
        
        
                div#header_nav_wrapper
                    div#header_nav_wrapper_center
                        header#header 
                            img(src="img/logo.png", alt="" id="logomenu")
                            h2#plazacaramountmenu
                                span.plaza#plazamenu Plaza 
                                span.caramount#caramountmenu Caramount
                            <!-- Fin H2 -->
                        <!-- Fin Header -->
                        nav#nav
                            div#toggle
                                span.icon-menu
                            <!-- Fin Toggle -->
                            ul
                                li
                                    a(href="index.html", id="amenu1") Inicio
                                li
                                    a(href="nosotros.html", id="amenu") Nosotros
                                li
                                    a(href="tiendas.html", id="amenu2") Tiendas
                                li
                                    a(href="construccion.html", id="amenu4") Promociones
                                li
                                    a(href="registro.html", id="amenu5") Registro
                        <!-- Fin Nav -->
                    <!-- Fin Header Nav Grapper Center -->
                <!-- Fin Header Nav wrapper -->
                
                
                section.primeron
                    div.nst1
                        span.nst11 Plaza 
                        span.nst12 Caramount                            
                            
                    div.nst3
                        span.nst31 Perfil
                    div.nst5
                        div.nst51
                            p Plaza Caramount es la cadena de plazas comerciales de mayor cobertura a lo largo del estado. 
                            br
                            p La combinación de una amplia oferta comercial, una experiencia de compra emocionante, infraestructura sólida y enfoque de rentabilidad nos permiten servir al cliente y así contar con su preferencia.
                            
                    div.nst3
                        span.nst31 Misión
                    div.nst5
                        div.nst51
                            p Somos una empresa de tiendas departamentales en constante crecimiento, con presencia a nivel nacional, fundada en 1947. 
                            br
                            p Facilitamos a las familias una selección de productos y servicios para el vestido y el hogar que superen sus expectativas de calidad, moda, valor y atención, dentro de un ambiente agradable.
                            br
                            p Colaboradores, accionistas y proveedores integramos una comunidad donde nos realizamos personal y profesionalmente, generando un alto valor económico, con sentido de responsabilidad a nuestro entorno.
                            
                    div.nst3
                        span.nst31 Visión
                    div.nst5
                        div.nst51
                            p Ser la empresa de plazas comerciales de mayor eficiencia, crecimiento, innovación, prestigio, servicio, rentabilidad y adaptación a mercados específicos en todo el estado y próximamente en todo el país.
                                  
                    div.nst3
                        span.nst31 Valores
                    div.nst5
                        div.nst51
                            p Honestidad
                            p Calidad
                            p Equidad
                            p Trabajo en equipo
                            p Respeto
                            p Servicio
                            p Lealtad y productividad
                
            <!-- Fin Main -->                
        <!-- Fin Wrapper -->
        footer#footer
            div.foot_contain
                div.fot1
                    a(class="fot11" href="index.html") Plaza Caramount
                    p.fot12 Copyright 2017 | All Rights Reserved
                div.fot2
                    span.fot21 By
                    a(class="fot22" href="https://www.facebook.com/jorge.tato.39") Jorge Tato
        
script(src="js/jquery-3.2.1.min.js")
<!-- JS Jquery -->

script(src="js/scripts.js")
<!-- JS Scripts -->
    
