<!DOCTYPE html>
html(lang="en")
    
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Plaza Olmos
        <!-- Titulo -->
        
        <!-- Fuente 'Lato' -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,100,100italic,900,300italic,400italic,700italic,900italic'   rel='stylesheet' type='text/css'>        
        
        <!-- CSS Animaciones -->
        <link rel="stylesheet" href="css/animate.css" media="screen" title="no title" charset="utf-8">
        
        <!-- CSS Iconos -->
        <link rel="stylesheet" href="css/icons.css" media="screen" title="no title" charset="utf-8">
        
        <!-- CSS Styles -->
        link(rel="stylesheet" ,href="css/styles.css")
                
    body
        
        div#wrapper <!-- wrapper -->
            main#main <!-- Main -->
        
        
        
        
                div#header_nav_wrapper
                    div#header_nav_wrapper_center
                        header#header 
                            img(src="img/logo.png", alt="" id="logomenu")
                            h2#plazacaramountmenu
                                span.plaza#plazamenu Plaza 
                                span.caramount#caramountmenu Caramount
                            <!-- Fin H2 -->
                        <!-- Fin Header -->
                        nav#nav
                            div#toggle
                                span.icon-menu
                            <!-- Fin Toggle -->
                            ul
                                li
                                    a(href="index.html", id="amenu1") Inicio
                                li
                                    a(href="nosotros.html", id="amenu2") Nosotros
                                li
                                    a(href="#", id="amenu") Tiendas
                                li
                                    a(href="construccion.html", id="amenu4") Promociones
                                li
                                    a(href="registro.html", id="amenu5") Registro
                        <!-- Fin Nav -->
                    <!-- Fin Header Nav Grapper Center -->
                <!-- Fin Header Nav wrapper -->
                
                
                
                
                <!-- SLIDER -->
                section.slider-container
                    ul#slider.slider-wrapper
                        
                        <!-- IMAGENES Y TEXTO -->
                        li.slide-current
                            img(src="img/c1.jpg", alt="Imagen 1")
                            div.caption
                                h3.caption-title2 Pull And Bear
                        
                        li
                            img(src="img/c2.png", alt="Imagen 2")
                            div.caption
                                h3.caption-title2 C&A

                        li
                            img(src="img/c3.jpg", alt="Imagen 3")
                            div.caption
                                h3.caption-title2 Guess
                                
                        li
                            img(src="img/c4.jpg", alt="Imagen 4")
                            div.caption
                                h3.caption-title2 Zara
                                
                        li
                            img(src="img/c5.jpg", alt="Imagen 5")
                            div.caption
                                h3.caption-title2 Liverpool
                        <!-- FIN IMAGENES Y TEXTO -->
                    <!-- FIN UL SLIDER WRAPPER -->
                    
                    <!-- Controles -->
                    ul#slider-controls.slider-controls
                <!-- FIN SLIDER-CONTAINER -->
                <!-- FIN SLIDER -->
                
                section.primerot
                    div.tnd1
                        span.tnd11 Plaza 
                        span.tnd12 Caramount                            
                            
                    div.tnd3
                        span.tnd31 Chanel
                    div.tnd4
                        a(href="construccion.html", target="Chanel" class="tnd41") Ver tienda
                    div.tbd5
                        div.tbd51
                            p Local: 11
                            p Piso: Plata Baja
                            p Horario: Lunes a Domingo de 11:00 am a 09:00pm
                            p Atención a clientes: 5262-9999
                            p Ventas por teléfono: 01 452 713 4736
                            p Sugerencias y cometarios: atencion@chanel.com.mx
                        img(src="img/d1.jpg", alt="" class="tbd52")
                        
                        
                            
                    div.tnd3
                        span.tnd31 Mont Blanc                
                    div.tnd4
                        a(href="construccion.html", target="Mont Blanc" class="tnd41") Ver tienda
                    div.tbd5
                        div.tbd51
                            p Local: 23
                            p Piso: Primer piso
                            p Horario: Lunes a Domingo de 10:00 am a 010:00pm
                            p Atención a clientes: 5816-1286
                            p Ventas por teléfono: 01 800 713 5555
                            p Sugerencias y cometarios: atencion@montblanc.com.mx
                        img(src="img/d2.jpg", alt="" class="tbd52") 
                        
                    div.tnd3
                        span.tnd31 Mac                
                    div.tnd4
                        a(href="construccion.html", target="Maquillage" class="tnd41") Ver tienda
                    di.tbd5
                        div.tbd51
                            p Local: 56
                            p Piso: Segundo piso
                            p Horario: Lunes a Domingo de 1:00 pm a 08:00pm
                            p Atención a clientes: 5262-9999
                            p Ventas por teléfono: 01 700 713 1425
                            p Sugerencias y cometarios: atencion@mac.com.mx
                        img(src="img/d3.jpg", alt="" class="tbd52")
                            
                    div.tnd3
                        span.tnd31 Urban decay                
                    div.tnd4
                        a(href="construccion.html", target="Maquillage" class="tnd41") Ver tienda
                    div.tbd5
                        div.tbd51
                            p Local: 16
                            p Piso: Plata Baja
                            p Horario: Lunes a Domingo de 11:00 am a 09:00pm
                            p Atención a clientes: 6520-9999
                            p Ventas por teléfono: 01 468 123 5821
                            p Sugerencias y cometarios: atencion@urbandecay.com.mx
                        img(src="img/d4.jpg", alt="" class="tbd52")                                
                    div.tnd3
                        span.tnd31 Polo                
                    div.tnd4
                        a(href="construccion.html", target="Maquillage" class="tnd41") Ver tienda
                    div.tbd5
                        div.tbd51
                            p Local: 30
                            p Piso: primer piso
                            p Horario: Lunes a Domingo de 12:00 am a 07:00pm
                            p Atención a clientes: 6512-4736
                            p Ventas por teléfono: 01 450 120 3620
                            p Sugerencias y cometarios: atencion@chanel.com.mx
                        img(src="img/d5.jpg", alt="" class="tbd52")                                    
                    div.tnd3
                        span.tnd31 Vero Moda                
                    div.tnd4
                        a(href="construccion.html", target="Maquillage" class="tnd41") Ver tienda
                    div.tbd5
                        div.tbd51
                            p Local: 27
                            p Piso: Primer piso
                            p Horario: Lunes a Domingo de 10:00 am a 10:00pm
                            p Atención a clientes: 2514-9994
                            p Ventas por teléfono: 01 800 713 5555
                            p Sugerencias y cometarios: atencion@chanel.com.mx
                        img(src="img/d6.jpg", alt="" class="tbd52")                                        
                    div.tnd3
                        span.tnd31 Etam                
                    div.tnd4
                        a(href="construccion.html", target="Maquillage" class="tnd41") Ver tienda
                    .tbd5
                        div.tbd51
                            p Local: 45
                            p Piso: Segundo piso
                            p Horario: Lunes a Domingo de 9:00 am a 09:00pm
                            p Atención a clientes: 6512-7777
                            p Ventas por teléfono: 01 582 713 4589
                            p Sugerencias y cometarios: atencion@chanel.com.mx
                        img(src="img/d7.jpg", alt="" class="tbd52")                
                
            <!-- Fin Main -->                
        <!-- Fin Wrapper -->
        footer#footer
            div.foot_contain
                div.fot1
                    a(class="fot11" href="index.html") Plaza Caramount
                    p.fot12 Copyright 2017 | All Rights Reserved
                div.fot2
                    span.fot21 By
                    a(class="fot22" href="https://www.facebook.com/jorge.tato.39") Jorge Tato
        
script(src="js/jquery-3.2.1.min.js")
<!-- JS Jquery -->

script(src="js/scripts.js")
<!-- JS Scripts -->
    
